textarea{
    resize: none;
    width: 100%;
    height: 200px;
    padding: 20px;
    background: #FFFFFF;
    mix-blend-mode: normal;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    margin: 5px 0;
    overflow: hidden;
}

.input-header{
    display: flex;
}

.input-header div{
    margin: 10px;
}
.sign-job-container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}